<div class="pt-12"></div>
<footer
  class="w-full bg-[#1d1d1f] h-12 absolute flex items-center justify-center z-1"
>
  <p class="text-white">&copy; 2021 University of Chiba, All Right Reserved</p>
</footer>
