---
import { tv } from 'tailwind-variants';
interface Props {
  imageUrl: string;
  size?: 'xl' | 'lg' | 'md' | 'sm' | 'xs';
}

const { imageUrl, size = 'md' } = Astro.props;

const imageStyle = tv({
  base: 'overflow-hidden rounded-full bg-gray-300',
  variants: {
    size: {
      xl: 'w-64 h-64',
      lg: 'w-48 h-48',
      md: 'w-32 h-32',
      sm: 'w-16 h-16',
      xs: 'w-10 h-10',
    },
  },
});
---

<div class={imageStyle({ size })}>
  <img class="w-full h-full object-cover" src={imageUrl} />
</div>
