---
import { HOME_PATH } from '@/consts/paths';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Not found">
  <div
    class="w-screen h-screen flex flex-col space-y-10 items-center justify-center"
  >
    <h2 class="text-3xl">404 | Not Found</h2>
    <h1 class="text-5xl font-bold">お探しのページは見つかりませんでした</h1>
    <a class="underline" href={HOME_PATH}>ホームに戻る</a>
  </div>
</Layout>
