---
interface Props {
  title: string;
  body: string;
  imgPath: string;
  href: string;
}

const { title, body, imgPath, href } = Astro.props;
---

<a class="w-full" href={href}>
  <div
    class="relative overflow-hidden flex flex-col items-center justify-center w-full bg-black"
  >
    <div
      class="absolute top-1/2 left-1/2 w-full"
      style="transform: translate(-50%, -50%)"
    >
      <h1 class="md:text-5xl text-3xl text-white font-bold text-center">
        {title}
      </h1>
      <h3
        class="md:text-xl text-sm font-bold text-white text-center whitespace-break-spaces"
      >
        {body}
      </h3>
    </div>
    <img
      class="w-full md:h-100 h-56 object-cover opacity-40 hover:opacity-50 transition-opacity duration-500"
      src={imgPath}
    />
  </div>
</a>
