---
---

<div class="pt-12"></div>
<header class="w-full bg-[#1d1d1f] h-12 fixed top-0 left-0">
  <ul class="h-full w-[1024px] mx-auto flex items-center justify-around text-[#F5F5F7] text-sm">
    <li>
      <a href="/">ホーム</a>
    </li>
    <li>
      <a href="/member">メンバー</a>
    </li>
    <li>
      <a href="/news">ニュース</a>
    </li>
    <li>
      <a href="/research">研究</a>
    </li>
    <li>
      <a href="/questions">Q&A</a>
    </li>
    <li>
      <a href="/join">配属</a>
    </li>
  </ul>
</header>
